/* Write your CSS here */

.suggestionItem-container {
  display: flex;
  justify-content: space-between;
}

.suggestion-del-button {
  border: 0;
  background: none;
}

.suggestion-arrow {
  height: 20px;
}
